[run]
source = .
branch = False
timid = True
[report]
show_missing = False
include = *.py
omit =
    */wsgi.py
    */asgi.py
    */manage.py
    */settings.py
    */tests/*
    */tests.py
    *_test.py
    *_tests.py
    */site-packages/*
    */migrations/*
[html]
title = Code Coverage
directory = htmlcov