[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
django-environ = "*"
gunicorn = "*"
selenium = "*"
redgreenunittest = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
pillow = "*"
faker = "*"
coverage = "*"
mixer = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
