{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts TDD</title>
    <link rel="stylesheet" href="{% static 'plugins/buefy/buefy.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<style>
    .rows {
        display: flex;
        flex-direction: column;
    }
    [v-cloak]{
        display: none;
    }
</style>
<body>

<div id="app" v-cloak>
    {% block content %}{% endblock %}
</div>

<script src="{% static 'plugins/vue/vue.js' %}"></script>
<script src="{% static 'plugins/buefy/buefy.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="{% static 'js/index.js' %}?v=1.0"></script>
</body>
</html>